.sg-theme {
    // navigation
    .uk-navbar {
        background: #fff;

        .nav-large-wrapper {
            .uk-navbar-brand {
                height: 60px;
                line-height: 60px;
            }

            .uk-navbar-nav {
                li {
                    &.uk-active {
                        border-bottom: 3px solid #F0C808;
                    }

                    a {
                        height: 60px;
                        line-height: 60px;
                        font-size: 1.4rem;
                        background-color: transparent;
                    }

                    &:hover {
                        border-bottom: 3px solid #F0C808;
                    }
                }
            }
        }
    }

    // main content
    .main-content {
        .sticky-posts {
            max-width: 1000px;
        }
    }
}
