.sg-theme {
    background-color: $color-grey;
    font-family: 'Open Sans', sans-serif;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Graduate', cursive;
        text-align: left;
        word-wrap: break-word;
        hyphens: auto;
    }

    article,
    footer,
    header,
    nav,
    section {
        display: block;
    }
    // navigation
    .uk-navbar {
        background: $color-white;
        @media (min-width: $breakpoint-medium) {
            padding: 5px 10px;
            box-shadow: 0 6px 6px -6px lightgrey;
        }

        .nav-large-wrapper {
            .uk-navbar-brand {
                height: 100px;
                display: flex;
                align-items: center;
                margin-left: 25px;
                max-width: 40%;
                font-family: 'Graduate', cursive;

                img {
                    height: 84px;
                    margin-right: 15px;
                    @media (max-width: $breakpoint-medium-max) {
                        height: 73px;
                    }
                }
            }

            .navbar-menu {
                height: 100px;
                @media (max-width: $breakpoint-medium-max) {
                    max-width: 370px;
                }
                @media (min-width: $breakpoint-medium-max) and (max-width: 1230px) {
                    max-width: 515px;
                }
                @media (min-width: $breakpoint-medium-max) {
                    display: flex;
                    align-items: center;
                }
            }

            .uk-navbar-nav {
                @media (max-width: 1230px) {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                }

                li {
                    &.current-menu-item {
                        a {
                            border-bottom: 3px solid $color-yellow;
                        }
                    }

                    a {
                        height: 60px;
                        line-height: 60px;
                        font-size: 1.4rem;
                        background-color: transparent;
                        @media (max-width: 1230px) {
                            height: 50px;
                            line-height: 50px;
                        }

                        &:hover {
                            border-bottom: 3px solid $color-yellow;
                        }
                    }
                }
            }
        }

        .nav-small-wrapper {
            display: flex;
            align-items: center;

            .uk-navbar-center {
                max-width: inherit;

                .uk-navbar-brand {
                    height: 60px;
                    font-size: 10px;
                    font-family: 'Graduate', cursive;

                    img {
                        height: 50px;
                        margin-right: 10px;
                    }
                }
            }

            .uk-nav-header {
                margin-top: 0;
                border-top: 1px solid rgba(0,0,0,.3);
                background: #404040;
                box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
                text-shadow: 0 1px 0 rgba(0,0,0,.5);
            }

            .current-menu-item.current_page_item {
                background: #1a1a1a;
                color: #fff;
                box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
            }
        }
    }
    // main content
    .sticky-posts {
        a {
            color: $color-yellow;

            &hover {
                color: $color-yellow;
                text-decoration: underline;
            }
        }
        @media (max-width: $breakpoint-large) {
            padding-top: 0;
        }
        @media (max-width: $breakpoint-small-max) {
            .uk-slideshow {
                height: 300px !important;

                li {
                    height: 300px !important;
                }
            }
        }
        @media (min-width: $breakpoint-small-max) and (max-width: $breakpoint-medium-max) {
            .uk-slideshow {
                height: 400px !important;

                li {
                    height: 400px !important;
                }
            }
        }
        @media (min-width: $breakpoint-large) {
            .uk-slideshow {
                height: 500px !important;

                li {
                    height: 500px !important;
                }
            }
        }

        .alt-sticky-img {
            background: $color-yellow;
            background: linear-gradient(-90deg, $color-yellow-alt, $color-yellow);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img {
                height: 85%;
                margin-right: 5%;
            }
        }
    }
    // article
    .sg-articles {
        .uk-article {
            .uk-article-title {
                @media (max-width: $breakpoint-small-max) {
                    font-size: 24px;
                }
            }

            .article-img {
                max-width: 100%;
                height: auto;
                @media (min-width: $breakpoint-medium) {
                    max-height: 300px;
                }
            }

            .content-single-img {
                @media (max-width: $breakpoint-small-max) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .new-member-ad {
        height: 200px;
        background-image: url('../images/new_member_ad.jpeg');

        .call-to-action-button {
            display: inline-block;
            @media (max-width: $breakpoint-small-max) {
                margin-top: 25px;
            }
        }
    }
    // team cards
    .team-cards {
        .card {
            .uk-panel {
                background-color: $color-white;
                box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);

                .alt-sticky-img {
                    background: $color-yellow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                }

                .card-title {
                    h3 {
                        padding: 10px 20px 0;
                    }
                }

                .card-body {
                    li {
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
    // Mitglied werden
    .club-membership {
        .ft-braunschweig {
            padding: 10px;
            border: 20px solid $color-ft-bs;

            .header {
                display: flex;
                align-items: center;

                img {
                    width: 70px;
                    margin-right: 10px;
                    height: 100%;
                }

                h2 {
                    margin-top: 0;
                }
            }
        }

        .mtv-braunschweig {
            @media screen and (max-width: $breakpoint-small-max) {
                margin-top: 40px;
            }
            padding: 10px;
            border: 20px solid $color-mtv-bs;

            img {
                width: 415px;
            }
        }

        .sg-braunschweig {
            padding: 10px;
            border: 20px solid $color-yellow;
        }
    }
    // kontaktformular
    .contact {
        input[type="submit"],
        label {
            font-size: 18px;
            line-height: 24px;
            font-weight: normal;
            @media screen and (max-width: $breakpoint-medium) {
                font-size: 16px;
            }
        }

        label {
            input,
            textarea {
                width: 100%;
                border-radius: 4px;
                margin-top: 4px;
            }
        }

        input[type="submit"] {
            padding: 10px;
            border: 3px solid $color-white;

            &:hover {
                border-color: $color-yellow;
                text-decoration: none;
            }
        }
    }
    // footer
    footer {
        &.uk-block {
            @media screen and (min-width: $breakpoint-medium) {
                padding-bottom: 20px;
            }
        }
        background-color: $color-dark-blue;

        .footer-navigation {
            @media screen and (max-width: $breakpoint-medium-max) {
                &:not(:first-child) {
                    margin-top: 15px;
                }
            }

            a {
                color: $color-yellow;
            }

            ul:first-of-type {
                padding-top: 15px;
            }

            ul {
                padding-left: 0;

                li {
                    list-style-type: none;
                    list-style-image: none;

                    a {
                        color: $color-yellow;
                    }
                }
            }
        }

        .footer-headline {
            border-bottom: 2px solid $color-yellow;
            display: initial;
            padding-bottom: 5px;
        }

        .copyright {
            color: #999;
        }
    }
}

.call-to-action-button {
    color: $color-white;
    padding: 10px;
    border: 3px solid $color-white;

    &:hover {
        border-color: $color-yellow;
        color: $color-white;
        text-decoration: none;
    }
}

.text-muted {
    color: $text-muted-color;
}
