$color-white: #ffffff;
$color-yellow: #fecd01;
$color-yellow-alt: #ffda62;
$color-dark-blue: #34495E;
$color-light-blue: #D1E9EA;
$color-red: #FC5050;
$color-grey: #f2f2f2;
$color-ft-bs: #4e3629;
$color-mtv-bs: #ba1313;
